<nav>
  <section>
    <h1>ExpressJs - Blogs Example</h1>

    <div class="navContent">
      <div class="navLinks">
        <a href="/">Posts</a>
        <a href="/users">Users</a>
        <a href="/notifications">
          Notifications
          <sup>⚪</sup>
        </a>
      </div>

      <button class="button">
        Refresh Notifications
      </button>
    </div>
  </section>
</nav>