<div class="_404">
  <h3 class="_404-title">404 - Oops, Page Not Found :(</h3>
  <img src="/img/peepo-sad.jpg" alt="pepe" style="max-width:600px;width=100%" />
  <div class="_404-backhome">
    <a href="/" class="button">Back to home</a>
  </div>
</div>