<html>
  <head>
    <title>Post{{#if title}} | {{title}}{{/if}}</title>
    <link type="text/css" rel="stylesheet" href="/css/primitiveui.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div>
      <div class="App">
        {{{body}}}
      </div>
    </div>
  </body>
</html>